---
layout: default
title: Applied Brain Research
extrajs:
  - index.js
carousel:
  - title: Surprisingly good at AI and robotics
    img: ai-robotics
    text: >
      Our goal is to build the best integrated AI systems,
      ultimately resulting in devices that you can work with
      in the real world.
    url: projects
    button: Current projects
  - title: Inspired by the brain.
    img: brain
    text: >
      The team behind ABR has been building
      models of the brain for the past decade.
      Now it's time to apply what we've learned.
    url: team
    button: Meet the team
  - title: Open culture
    img: open
    text: >
      We use and are inspired by
      open source software,
      open access in science,
      and the open data movement.
    url: culture
    button: Our culture
---
<div id="index-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#index-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#index-carousel" data-slide-to="1"></li>
    <li data-target="#index-carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    {% for item in page.carousel %}
    <div class="item {{ item.img }}{% if forloop.index0 == 0 %} active{% endif %}">
      <div class="container">
        <div class="carousel-caption">
          <h1>{{ item.title }}</h1>
          <p>{{ item.text }}</p>
          <p><a class="btn btn-lg btn-primary" href="{{ site.baseurl }}/{{ item.url }}" role="button">{{ item.button }}</a></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <a class="left carousel-control" href="#index-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#index-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!--This could be a loop unless we want to format things different for different sections-->
<div class="container marketing">
  <div class="row">
    <h2>Products</h2>
    {% assign blurbs = site.products %}
    {% for blurb in blurbs limit:3 %}
    <div class="col-lg-4">
      <a href="{{ site.url }}/{{ blurb.loc }}">
        <img class="img-circle img-bordered" src="{{ site.baseurl }}/img/{{ blurb.img }}" alt="" width="200">
      </a>
      <h2>{{ blurb.title }}</h2>
      <p>{{ blurb.pitch }}</p>
      <a class="btn btn-default" href="{{ site.url }}/{{ blurb.loc }}" role="button">Learn more &raquo;</a>
    </div>
    {% endfor %}
  </div>
</div>
<hr></hr>

<div class="container marketing">
  <div class="row">
    <h2>Services</h2>
    {% assign blurbs = site.services %}
    {% for blurb in blurbs limit:3 %}
    <div class="col-lg-4">
      <a href="{{ site.url }}/{{ blurb.loc }}">
        <img class="img-circle img-bordered" src="{{ site.baseurl }}/img/{{ blurb.img }}" alt="" width="200">
      </a>
      <h2>{{ blurb.title }}</h2>
      <p>{{ blurb.pitch }}</p>
      <a class="btn btn-default" href="{{ site.url }}/{{ blurb.loc }}" role="button">Learn more &raquo;</a>
    </div>
    {% endfor %}
  </div>
</div>
<hr></hr>

<div class="container marketing">
  <div class="row">
    <h2>Research</h2>    
    {% assign blurbs = site.projects %}
    {% for blurb in blurbs limit:3 %}
    <div class="col-lg-4">
      <a href="{{ site.baseurl }}/{{blurb.collection}}/#{{ blurb.title | slugify }}">
        <img class="img-circle img-bordered" src="{{ site.baseurl }}/img/{{ blurb.img }}" alt="" width="200">
      </a>
      <h2>{{ blurb.title }}</h2>
      <p>{{ blurb.pitch }}</p>
      <a class="btn btn-default" href="{{ site.baseurl }}/{{blurb.collection}}/#{{ blurb.title | slugify }}" role="button">Learn more &raquo;</a>
    </div>
    {% endfor %}
  </div>
</div>
