---
layout: default
---
<div class="container main">
  {% for partner in site.partnerships %}
  {% capture evenodd %}{% cycle 'even', 'odd' %}{% endcapture %}
  <div class="row partner" id="{{ partner.title | slugify }}">
    <div class="col-md-6 {% if evenodd == 'odd' %} col-md-push-6{% endif %}">
      <div class="emphasize-first">
        {{ partner.content }}
      </div>
    </div>
    <div class="col-md-5 {% if evenodd == 'odd' %}col-md-pull-6{% else %}col-md-offset-1{% endif %}">
      <a href="{{ partner.url }}">
        <img class="center-block img-responsive" src="{{ site.baseurl }}/img/{{ partner.img }}" alt="{{ partner.title }}">
      </a>
    </div>
  </div>
  {% if forloop.last == false %}
  <hr class="partner-divider">
  {% endif %}
  {% endfor %}
</div>
