---
layout: default
awards:
  - source: Applied Brain Research's Nengo 2.0 Winner of the 2015 R&D Top 100 Editor's Choice Software Special Recogniton Award
    url: http://www.rdmag.com/articles/2015/11/special-recognition-and-editors-choice-awards-presented-2015-r-d-100-awards-banquet-las-vegas
  - source: Applied Brain Research's Nengo 2.0 one of the Top 100 R&D Award Winners
    url: http://www.rdmag.com/news/2015/11/2015-r-d-100-award-winners
  - source: ABR Wins in Silicon Valley Innovation & Entrpreneurship 2015 Top 30 Award 
    url: http://www.svief.org/2015/english/cx.php
  - source: Applied Brain Research Selected as 2015 Finalist for R&D Top 100
    url: http://www.rdmag.com/articles/2015/07/2015-r-d-100-award-finalists
pressreleases:
  - source: Applied Brain Research Signs Joint Development and Marketing Agreement with Brain Chip Inc.
    url: http://appliedbrainresearch.com/PRBrainChipPartnership.html
abr:
  - source: ABR Featured at OCE Discovery 2015
    url: http://www.prnewswire.com/news-releases/oces-discovery-celebrates-10-years-of-innovation-with-largest-ever-show-500788531.html
  - source: UWaterloo on How to Build a Brain
    url: https://uwaterloo.ca/arts/news/how-build-brain-chris-eliasmith-publishes-book-and-shares
  - source: UWaterloo on Stephen Hawking's Brave New World
    url: https://uwaterloo.ca/news/news/waterloo-professor-co-hosts-new-stephen-hawking-tv-series
  - source: UWaterloo on John C. Polanyi Award
    url: https://uwaterloo.ca/news/news/three-waterloo-academics-named-among-canadas-top-natural
  - source: UWaterloo on Royal Society of Canada's College of New Scholars
    url: https://uwaterloo.ca/philosophy/news/c-eliasmith-royal-society-canadas-college-new-scholars
nengo:
  - source: Motherboard
    url: http://motherboard.vice.com/read/how-to-make-a-human-brain-in-python
quoted:
  - source: Futurism.com Interview with Dr. Eliasmith
    url: http://futurism.com/interview-chris-eliasmith-talks-reverse-engineering-the-brain-dangerous-ai-and-universal-basic-income/
  - source: UMich Engineering
    url: http://dme.engin.umich.edu/artificialintelligence
  - source: LiveScience
    url: http://www.livescience.com/50186-ultron-real-life-artificial-intelligence.html
  - source: CBC
    url: https://www.youtube.com/watch?v=QQLt8MsoH0k
  - source: The Record
    url: http://www.therecord.com/news-story/4591880-university-brain-camp-showcases-robots/
  - source: New York Times Science Times Podcast
    url: http://www.nytimes.com/2014/02/18/science/the-podcast-hits-the-road.html
  - source: Biomedical Computation Review
    url: http://www.bcr.org/content/behind-connectome-commotion
  - source: The KW Record
    url: http://www.therecord.com/news-story/3875165-uw-prof-teaches-readers-how-to-build-a-brain/
  - source: Nature News
    url: http://www.nature.com/news/neuroelectronics-smart-connections-1.14089
  - source: Popular Science
    url: http://www.popsci.com/article/technology/software-learns-crack-captchas
  - source: Sky News
    url: http://news.sky.com/story/1286311/scientists-trying-to-replicate-the-human-brain
spaun:
  - source: Nature
    url: http://www.nature.com/news/simulated-brain-scores-top-test-marks-1.11914
  - source: UWaterloo press release
    url: https://uwaterloo.ca/news/news/waterloo-researchers-create-worlds-largest-functioning-model
  - source: BBC World Radio interview (opening 5s; interview starts at 11:50)
    url: http://www.bbc.co.uk/iplayer/episode/p010z973/Science_In_Action_Melting_ice_caps/
  - source: CNN
    url: http://thechart.blogs.cnn.com/2012/11/29/brain-model-may-help-build-humanlike-robot/
  - source: Popular Science
    url: http://www.popsci.com/science/article/2012-11/meet-spaun-first-computer-model-complex-brain-behavior
  - source: Reddit
    url: http://www.reddit.com/r/science/comments/141q17/scientists_successfully_create_virtual_brain/?limit=500
  - source: Reddit AMA
    url: http://www.reddit.com/r/IAmA/comments/147gqm/we_are_the_computational_neuroscientists_behind/
  - source: National Geographic
    url: http://phenomena.nationalgeographic.com/2013/02/14/will-we-ever-simulate-the-brain/
  - source: LA Times
    url: http://www.latimes.com/news/science/sciencenow/la-sci-sn-new-model-brain-can-memorize-numbers-answer-iq-questions-20121129,0,2428635.story
  - source: BrainFacts.org
    url: http://www.brainfacts.org/About-Neuroscience/Technologies/Articles/2013/Designing-Brain-Based-Robots
  - source: CBC Quirks & Quarks Interview
    url: http://www.cbc.ca/video/news/audioplayer.html?clipid=2323107057
  - source: Science News
    url: http://www.sciencenews.org/view/generic/id/346756/title/Simulated_brain_mimics_human_quirks
  - source: Discovery News
    url: http://news.discovery.com/tech/artificial-brain-mimics-human-abilities-and-flaws-121130.html
  - source: Wired (UK)
    url: http://www.wired.co.uk/news/archive/2012-12/01/spaun-virtual-brain
  - source: Today's Science
    url: http://www.nengo.ca/sites/nengo.ca/files/J__TSOF%201992-2007_New%20Stories_s2100009.pdf
  - source: TG Daily
    url: http://www.tgdaily.com/general-sciences-features/67819-artificial-brain-spaun-passes-iq-tests
  - source: Slashdot
    url: https://science.slashdot.org/story/12/11/30/1719238/spaun-a-large-scale-functional-brain-model)
  - source: Ars Technica
    url: http://arstechnica.com/science/2012/11/model-brain-with-2-5-million-neurons-configures-itself-to-problem-solve/
  - source: Huffington Post
    url: http://www.huffingtonpost.com/2012/11/30/artificial-brain-spaun-software-model_n_2217750.html
  - source: Gizmodo
    url: http://gizmodo.com/5964684/the-most-realistic-artificial-brain-has-a-mind-of-its-own
  - source: ExtremeTech
    url: http://www.extremetech.com/extreme/141926-spaun-the-most-realistic-artificial-human-brain-yet
  - source: Newsy
    url: http://www.newsy.com/videos/scientists-create-most-advanced-simulated-brain/#ooid=h0ZWFjNzrp6DQ8wJd-ZhkztnYvgdJfAN
  - source: Communications of the ACM
    url: http://cacm.acm.org/news/158734-a-more-human-artificial-brain/fulltext
  - source: VR Zone
    url: http://vr-zone.com/articles/neuroscientist-creates-a-large-scale-model-of-a-functioning-brain/18126.html
  - source: Canada.com
    url: http://www.canada.com/Canadian%20scientists%20create%20functioning%20virtual%20brain/7628345/story.html
  - source: TechNewsDaily
    url: http://www.technewsdaily.com/15714-artificial-brain-mimics-human.html
  - source: Science Recorder
    url: http://www.sciencerecorder.com/news/researchers-create-the-worlds-largest-working-brain-model/
  - source: Globe and Mail
    url: http://www.theglobeandmail.com/technology/science/brain/meet-spaun-the-worlds-biggest-brain-that-works/article7260055/
  - source: Les Affaires
    url: http://www.lesaffaires.com/archives/generale/des-ordinateurs-qui-imitent-notre-cerveau/556262#.UW2eE1t3jss
  - source: CTV News (video)
    url: http://www.ctvnews.ca/video?clipId=818474&playlistId=1.1063551&binId=1.810401
  - source: Singularity Blog (video)
    url: http://www.singularityweblog.com/chris-eliasmith-on-singularity-1-on-1/
  - source: Calgary Herald
    url: http://www.calgaryherald.com/technology/Scientists%20create%20functioning%20virtual%20brain%20that%20write%20remember%20lists%20even%20pass%20basic/7630749/story.html
  - source: Kitchener Record
    url: http://www.therecord.com/news/local/article/846117--brain-simulator-could-provide-insight-to-damage-diseases-local-researchers-say
  - source: Ottawa Citizen
    url: http://www.ottawacitizen.com/technology/Team%20builds%20functional%20working%20brain/7631107/story.html
  - source: The Register
    url: http://www.theregister.co.uk/2012/12/01/spaun_computer_model_brain/
  - source: Vancouver Sun
    url: http://www.vancouversun.com/technology/science/Canadian%20scientists%20create%20functioning%20virtual%20brain/7628972/story.html
  - source: The Richard Brown Show (audio)
    url: http://ckom.com/sites/default/files/RBSHOW%20SEG3%20DEC3.mp3
  - source: The Star Phoenix
    url: http://www.thestarphoenix.com/Scientists%20build%20virtual%20brain/7631394/story.html
  - source: Der Spiegel
    url: http://www.spiegel.de/wissenschaft/medizin/gehirn-computermodell-mit-2-5-millionen-neuronen-rechnet-und-zaehlt-a-870061.html
  - source: Radio-Canada
    url: http://www.radio-canada.ca/nouvelles/science/2012/12/03/002-spaun-cerveau-artificiel.shtml
  - source: n-tv.de
    url: http://www.n-tv.de/wissen/Maschine-ahmt-Mensch-nach-article9651666.html
  - source: Folha de S. Paulo
    url:
  - source: Neue Zürcher Zeitung
    url:
  - source: El Pais
    url: http://sociedad.elpais.com/sociedad/2012/11/29/actualidad/1354215866_629020.html
  - source: QQ
    url: http://tech.qq.com/a/20121201/000020.htm
  - source: ifanr
    url: http://www.ifanr.com/207688
  - source: Healthline.com
    url: http://www.healthline.com/health-blogs/healthline-connects/human-brain-model-recognizes-writes-remembers-112912
  - source: IEEE Spectrum
    url: http://spectrum.ieee.org/tech-talk/computing/software/brain-model-connects-neurons-to-behavior
  - source: Phys.org
    url: http://phys.org/news/2012-11-spaun-human-brain-simulator-tasks.html
  - source: Exchange Magazine
    url: http://www.exchangemagazine.com/morningpost/2012/week48/Friday/12113001.htm
  - source: Richard Dawkins Foundation
    url: http://richarddawkins.net/news_articles/2012/12/1/canadian-scientists-create-a-functioning-virtual-brain#.ULqZFOwhu6a
  - source: Big Think / Neurobonkers
    url: http://bigthink.com/neurobonkers/a-conversation-with-the-creators-of-the-worlds-largest-functioning-model-of-the-human-brain
  - source: Science blogs
    url: http://scienceblogs.com/gregladen/2012/12/05/canadian-scientists-create-virtual-human-brain/#.UL9RktAqPTE.reddit
  - source: Human's Invent
    url: http://www.humansinvent.com/#!/10056/the-worlds-largest-simulation-of-a-functioning-brain/
  - source: The Weekly Weinersmith podcast (audio)
    url: http://www.weeklyweinersmith.com/?p=510
  - source: The Prism (audio)
    url: http://voicerussia.com/radio_broadcast/72430379/98099772.html
  - source: Médecine Sciences Amérique
    url: http://www.msamerique.ca/bulletins/spaun-le-premier-cerveau-artificiel-aux-comportements-humains
---
<div class="container main">
  <div class="row press">
    <div class="col-md-6">
      {% for press in site.press %}
      <blockquote>
        {{ press.content }}
        <footer>
          <a href="{{ press.url }}">{{ press.source }}</a>:
          {{ press.title }}
        </footer>
      </blockquote>
      <hr class="project-divider">
      {% endfor %}
    </div>
    <div class="col-md-6">
      <h3>Awards</h3>
      <ul>
        {% for article in page.awards %}
        <li><a href="{{ article.url }}">{{ article.source }}</a></li>
        {% endfor %}
      </ul>
      <h3>Press Releases</h3>
      <ul>
        {% for article in page.pressreleases %}
        <li><a href="{{ article.url }}">{{ article.source }}</a></li>
        {% endfor %}
      </ul>     
      <h3>Articles about ABR & ABR's founders</h3>
      <ul>
        {% for article in page.abr %}
        <li><a href="{{ article.url }}">{{ article.source }}</a></li>
        {% endfor %}
      </ul>
      <h3>Articles about Spaun</h3>
      <ul>
        {% for article in page.spaun %}
        <li><a href="{{ article.url }}">{{ article.source }}</a></li>
        {% endfor %}
      </ul>
      <h3>Articles about Nengo</h3>
      <ul>
        {% for article in page.nengo %}
        <li><a href="{{ article.url }}">{{ article.source }}</a></li>
        {% endfor %}
      </ul>
      <h3>Articles quoting ABR founders</h3>
      <ul>
        {% for article in page.quoted %}
        <li><a href="{{ article.url }}">{{ article.source }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
