<a name="contact-us" class="anchor"></a>
<form accept-charset="UTF-8" action="https://usebasin.com/f/109d3824d3af" method="POST" class="py-5">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-5 col-xl-4">
      <div class="form-group fade-in">
        <label for="contactName">Name *</label>
        <input type="text" class="form-control" id="contactName" name="contactName" placeholder="First Last">
      </div>
      <div class="form-group fade-in">
        <label for="contactPhone">Phone</label>
        <input type="tel" class="form-control" id="contactPhone" name="contactPhone" placeholder="(123) 456-7890">
      </div>
    </div>
    <div class="col-sm-10 col-md-5 col-xl-4">
      <div class="form-group fade-in">
        <label for="contactEmail">Email address *</label>
        <input type="email" class="form-control" id="contactEmail" name="contactEmail" placeholder="name@example.com">
      </div>
      <div class="form-group fade-in">
        <label for="contactSubject">Subject</label>
        <select class="custom-select" id="contactSubject" name="contactSubject">
          <option>General question</option>
          <option>Partnership</option>
          <option>Media inquiry</option>
          {% assign products = site.collections | where: 'label', 'products' | first %}
          {% for ordered in products.order %}
          {% for product in site.products %}
          {% if product.path contains ordered %}
          <option value="{{ product.path | remove: '_products/' | remove: '.md' }}">
            {{ product.title }}
          </option>
          {% endif %}
          {% endfor %}
          {% endfor %}
          {% assign services = site.collections | where: 'label', 'services' | first %}
          {% for ordered in services.order %}
          {% for service in site.services %}
          {% if service.path contains ordered %}
          <option value="{{ service.path | remove: '_services/' | remove: '.md' }}">
            {{ service.title }}
          </option>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-10 col-xl-8">
      <div class="form-group fade-in">
        <label for="contactMessage">Message (must be at least 25 characters)</label>
        <textarea class="form-control" id="contactMessage" name="contactMessage" rows="3"></textarea>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-8 text-center consent">
      <input type="checkbox" id="consent" name="consent" value="Consent Given" class="mr-1 mb-1" />
      <label for="consent">
        I consent to the use of my personal data in accordance with the
        <a href="{{ site.baseurl }}{% link privacy.md %}">ABR privacy policy</a>
      </label>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-8 text-center fade-in">
      <input type="submit" name="submit" id="submit" disabled class="btn btn-secondary text-white" value="Send message" />
    </div>
  </div>
</form>
<script type="text/javascript">
 /**
  * Will change the subject on the contact form
  */
 const changeSubject = (subjectParam) => {
   const select = document.getElementById('contactSubject');
   subjectSelect = select.value = subjectParam;
 }

 const urlParams = new URLSearchParams(window.location.search);
 const subjectParam = urlParams.get('subject');

 if(subjectParam) {
   changeSubject(subjectParam);
 }

 {% if include.subject %}
 changeSubject("{{ include.subject }}");
 {% endif %}

 /** Validation */
 const name = document.getElementById('contactName');
 const email = document.getElementById('contactEmail');
 const textarea = document.getElementById('contactMessage');
 const checkbox = document.getElementById('consent');
 const submitButton = document.getElementById('submit');

 function setSubmitStatus() {
   submit.disabled = !(
     name.value.length > 0
     && email.value.includes("@")
     && textarea.value.length >= 25
     && checkbox.checked
   );
 }

 name.addEventListener('input', setSubmitStatus);
 email.addEventListener('input', setSubmitStatus);
 textarea.addEventListener('input', setSubmitStatus);
 checkbox.addEventListener('change', setSubmitStatus);
</script>
