<div class="container marketing">
  <hr class="featurette-divider">
  <footer>
    <div class="row">
      <div class="col-sm-5">
        <p>&copy; 2018 Applied Brain Research, Inc.</p>
      </div>
      <div class="col-sm-7">
        <ul>
          <li><a href="{{ site.baseurl }}{% link team.html %}">Team</a></li>
          <li><a href="{{ site.baseurl }}{% link culture.html %}">Culture</a></li>
        </ul>
        <ul>
          <li><a href="{{ site.baseurl }}{% link partnerships.html %}">Partnerships</a></li>
          <li><a href="{{ site.baseurl }}{% link contact.html %}">Contact us</a></li>
        </ul>
        <p class="pull-right"><a href="#">Back to top</a></p>
      </div>
  </footer>
</div>
