<div class="container marketing">
  <hr class="featurette-divider">
  <footer>
    <div class="row">
      <div class="col-sm-4">
        <p>&copy; 2018 Applied Brain Research, Inc.</p>
      </div>
      <div class="col-sm-4">
        {% if page.path != "about-us.html" %}
        <p class="center-block text-center"><a href="{{ site.baseurl }}{% link about-us.html %}">Contact us</a></p>
        {% endif %}
      </div>
      <div class="col-sm-4">
        <p class="pull-right"><a href="#">Back to top</a></p>
      </div>
  </footer>
</div>
