<div class="navbar-wrapper">
  <div class="container">

    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="{{ site.baseurl }}/img/logo-light-notext.svg"></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% if page.path == "products.html" %} class="active"{% endif %}>
              <a href="{{ site.baseurl }}{% link products.html %}">Products</a>
            </li>
            <li {% if page.path == "services.html" %} class="active"{% endif %}>
              <a href="{{ site.baseurl }}{% link services.html %}">Services</a>
            </li>
            <li{% if page.path == "research.html" %} class="active"{% endif %}>
              <a href="{{ site.baseurl }}{% link research.html %}">Research</a>
            </li>
            <li{% if page.path == "press.html" or page.path == "pressrelease.html" %} class="active"{% endif %}>
              <a href="{{ site.baseurl }}{% link press.html %}">Press</a>
            </li>
            <li{% if site.posts contains page or page.path == "news.html" %} class="active"{% endif %}>
              <a href="{{ site.baseurl }}{% link news.html %}">News</a>
            </li>
            <li {% if page.path == "contact.html" or page.path == "culture.html" or page.path == "team.html" %} class="active"{% endif %} class="dropdown">
              <a href="{{ site.baseurl }}/products" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                <li><a href="{{ site.baseurl }}/culture">Culture</a></li>
                <li><a href="{{ site.baseurl }}/team">Team</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </div>
</div>
