<div class="navbar-wrapper">
  <div class="container">

    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="{{ site.baseurl }}/img/logo-light-notext.svg"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% assign navitems = site.collections | where: "navmenu", "true" %}
            {% for nav in navitems %}
            {% capture path %}{{ nav.label }}.html{% endcapture %}
            <li{% if page.collection == nav.label or page.path == path %} class="active"{% endif %}>
              <a href="{{ site.baseurl }}/{{ nav.linkname }}">
                {{ nav.linkname | capitalize }}
              </a>
            </li>
            {% endfor %}
            <li{% if page.path == "contact.html" %} class="active"{% endif %}>
              <a href="{{ site.baseurl }}/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </div>
</div>
