@media (min-width: 992px) {
    .culture img {
        margin-top: 200px;
        width: 100%;
    }
}

.culture li {
    font-size: 30px;
}

.culture p {
    font-size: 14px;
}

hr.partner-divider {
    margin: 20px 0;
}

.partner img {
    width: 100%;
}

.team img {
    width: 150px;
}

.team .btn {
    margin-right: 8px;
    margin-bottom: 12px;
}

.panel-group .panel-default>.panel-heading {
    background-color: transparent;
    padding: 0;
}

.panel-group .panel-default>.panel-heading .panel-title>a {
    display: block;
    font-size: 18px;
    padding: 10px 15px;
}

.panel-group .panel-default>.panel-heading .panel-title>a:hover,
.panel-group .panel-default>.panel-heading .panel-title>a:focus {
    background-color: #f5f5f5;
    text-decoration: none;
}
