.carousel {
    height: 500px;
    margin-bottom: 60px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
}

.carousel-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 200px;
    background: rgba(80, 80, 80, 0.65);
}

.carousel-caption p {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.carousel .item.ai-robotics {
    background: url('img/ai-robotics.jpg');
    background-size: cover;
    background-position: center center;
}

.carousel .item.brain {
    background: url('img/brain.jpg');
    background-size: cover;
    background-position: center center;
}

.carousel .item.open {
    background: url('img/open.jpg');
    background-size: cover;
    background-position: center center;
}

@media (min-width: 768px) {
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}
