/* Override the bootstrap style */
.press blockquote {
    border-left: none;
    color: #383838;
    font-family: Georgia, serif;
    font-size: 18px;
    line-height: 1.45;
    padding: 0.35em 40px;
    margin: 0.25em 0;
    position: relative;
    width: 500px;
}

.press blockquote:before {
    color: #7a7a7a;
    content: "\201C";
    display: block;
    font-size: 80px;
    left: -20px;
    padding-left: 10px;
    position: absolute;
    top: -20px;
}

.press blockquote cite {
    color: #999999;
    display: block;
    font-size: 14px;
    margin-top: 5px;
}

.press blockquote cite:before {
    content: "\2014 \2009";
}

.awards .img-container {
    height: 146px;
    position: relative;
    width: 100%;
}

.awards .img-container img {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: middle;
}

.awards h3 a {
    color: #383838;
}
