hr.project-divider {
    margin: 20px 0;
}

.project img {
    width: 300px;
}

.project-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

@media (min-width: 768px) {
    .project-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .project img {
        margin-top: 40px;
    }

    .project-heading {
        margin-top: 10px;
    }
}
