.showcase .nav img {
    height: 120px;
}

.showcase .tab-content img {
    margin-right: 15px;
}

.showcase .tab-content {
    margin-top: 24px;
}

.showcase .nav>li>a {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.5px;
    line-height: 1;
    white-space: nowrap;
}
