/* Padding below the footer and lighter body text */
body {
    padding-bottom: 40px;
    color: #5a5a5a;
}

.img-bordered {
    border: 4px solid #222;
}

.container.main {
    padding-top: 100px;
}

.emphasize-first > :first-child {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

@media (min-width: 768px) {
    .emphasize-first > :first-child {
        font-size: 21px;
    }
}

footer {
    margin-top: 30px;
}

footer ul {
    display: inline-block;
    list-style: none;
    margin-bottom: 0;
    margin-right: 20px;
    padding: 0;
}

footer ul:first-child {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #eee;
}

footer p {
    display: inline-block;
}
