---
layout: default
---

<div class="main-content gradient-top bio">
  <div class="container">
    {% include title-block.html title=page.fullname %}
    <div class="row justify-content-center my-5">
      <div class="col-10 col-lg-6 col-xl-7">{{ page.content }}</div>
      <div class="col-2 col-lg-2 col-xl-2 pt-2">
        <img
          src="{{ site.baseurl }}/img/{{ page.img }}"
          style="max-height: 150px; float: left; margin: 0 1em 1em 0"
        />
        <div class="bio-links">
          <ul>
            {% for link in page.links %}
            <li><a href="{{ link.url }}">{{ link.text }}</a></li>
            {% endfor %}
            <li><a href="mailto:{{ page.email }}">Email</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
