---
layout: default
---
<div class="container main post">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h2>{{ page.title }}</h2>
      <small>posted by {{ page.author }} on {{ page.date | date: "%B %-d, %Y" }}</small>
      {{ content }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div id="disqus_thread"></div>
    </div>
  </div>
</div>
<!-- Comments powered by Disqus -->
<script type="text/javascript">
  /* ** CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE ** */
  // required: replace example with your forum shortname
  var disqus_shortname = 'appliedbrainresearch';
  var disqus_identifier = '{{ page.id }}';
  var disqus_title = '{{ page.title }}';
  // var disqus_url = '{{ site.url }}{{ page.url }}';

  /* ** DON'T EDIT BELOW THIS LINE ** */
  (function() {
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>
  Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
