---
layout: default
---
{% assign product = site.data.products[page.product] %}
<div class="main-content gradient-top">
  <div class="container">
    <div class="row">
      <div class="col-10 col-lg-7 product-header my-5 py-0 py-sm-5">
        <h1 class="display-4">{{ product.title }}</h1>
        <p class="lead m-0">{{ product.tagLine }}</p>
        <div class="title-bar"></div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-10 col-lg-6 col-xl-7">
        {{ content }}
      </div>
      <div class="col-10 col-lg-4 col-xl-3 fade-in">
        <img
          src="/img/{{ product.img }}"
          style="width:100%;height:auto"
          class="shadow-lg rounded"
        />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-10 col-sm-12">
        <div class="text-center my-5 p-5 bg-primary-20 rounded">
          <h3 class="mb-0 py-0">{{ product.title }} Features</h3>
          <div class="row">
            {% for feature in product.features %}
            <div class="col-md-3 py-5 fade-in">
              <img
                src="{{ feature.icon }}"
                alt="{{ feature.title }}"
                class="mb-4 cta-image"
              />
              <h5>{{ feature.title }}</h5>
            </div>
            {% endfor %}
          </div>
          <a
            href="{{ product.featureCtaLink }}"
            class="btn btn-secondary btn-feature-cta text-white"
            >{{ product.featureCtaText }}</a
          >
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      {% for cta in product.ctas %} {% if forloop.first == false %}
      <div class="col-10 col-lg-1"></div>
      {% endif %}
      <div
        class="col-10 col-lg-3 my-3 my-lg-0 shadow-lg bg-white fade-in product-box"
      >
        <div class="py-3 px-2 border-bottom border-light">
          <h4 class="text-center m-0 py-3">{{ cta.title }}</h4>
        </div>
        <div class="px-2 py-4">
          <p>
            {{ cta.description }}
          </p>
          <div class="fixed-bottom p-4">
            <a
              class="btn btn-block btn-secondary text-white"
              href="{{ cta.link }}"
              >{{ cta.linkText }}</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% if product.services %}
    <div class="container">
      <div class="row justify-content-center pt-5">
        <div class="col-10 pt-5">
          <h2 class="display-4">{{ product.serviceTitle }}</h2>
          <p class="lead m-0">{{ product.serviceSubtitle }}</p>
          <div class="title-bar"></div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-10">
          <div class="row">
          {% for service in product.services %}
            <div class="col-5 py-5">
              <h3>{{ service.title }}</h3>
              <p>{{ service.description }}</p>
              <p>
                <a href="{{ service.link }}">More about {{ service.title }} &gt;</a>
              </p>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if product.research %}
    {% assign research = product.research %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10 pt-5">
          <h2 class="display-4">Research</h2>
          <div class="title-bar"></div>
        </div>
      </div>

      {% if research.links %}
      <div class="row justify-content-center mt-3 mb-5">
        <div class="col-10">
          <h3>{{ research.title }}</h3>
        </div>
        <div class="col-10 col-lg-6 col-xl-7">
          <p>{{ research.content | markdownify }}</p>
        </div>
        <!-- TODO need to remove links and stretch content when not present -->
        <div class="col-10 col-lg-4 col-xl-3">
          <ul class="small">
            {% for infoLink in research.links %}
            <li>
              <a href="{{ infoLink.url }}">{{ infoLink.text }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% else %}
      <div class="row justify-content-center mt-3 mb-5">
        <div class="col-10">
          <h3>{{ research.title }}</h3>
        </div>
        <div class="col-10">
          <p>{{ research.content | markdownify }}</p>
        </div>
      </div>
      {% endif %}
    </div>
    {% endif %}
  </div>
  <div class="awards">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10 py-5">
          <h3 class="text-center py-0 my-0">
            <a
              class="text-dark"
              href="{{ site.baseurl }}{% link products.html %}"
              >Explore more products &gt;</a
            >
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
